@import "macchiato.css";


* {
  font-family: "JetBrainsMono Nerd Font Propo";
  font-size: 16px;
} 


#window { 
  color: @text;
}

window#waybar {
  background-color: @waybar_bg;
}

/* ---------------------------- Module Sections ---------------------------- */
.modules-right, .modules-left, .modules-center {
  background-color: @modules_bg;
  border-radius: 16px;
}
/* ------------------------------------------------------------------------- */

/* --------- Clickable modules --------- */
/*#custom-power:hover,*/
/* #custom-dunst:hover { */
/*#custom-screenshot:hover {*/
#wireplumber:hover,
#network:hover,
#clock:hover {
  background-color: @surface1;
}
/* ------------------------------------- */

/* ----- Alternating module colors ----- */
/*#custom-power, */
/*#custom-screenshot {*/

#clock,
#network {
  color: @teal;
  padding: 2 6px;
}

#wireplumber,
#battery {
  color: @sapphire;
  padding: 2 6px;
}
/* ------------------------------------- */


/* ------------------------------- Workspaces ------------------------------- */
#workspaces button {
  border: none;
  border-radius: 16px;
  color: @sapphire;
}

#workspaces button:hover {
  background: inherit;
  box-shadow: none;
  transition: none;
  background-color: @surface1;
}

#workspaces button.active {
  background-color: @sapphire;
  color: @base;
}

#workspaces button.urgent {
  background-color: @red;
  color: @base;
  font-weight: bold;
}
/* -------------------------------------------------------------------------- */


/* ------- left side of module group ------- */
/*#custom-power, #wireplumber {*/
/*  border-radius: 16px 0 0 16px;*/
/*  padding: 0 6px 0 10px;*/
/*}*/

/* ---------- right side of module group ---------- */
/*#custom-screenshot,*/
#clock {
  border-radius: 0 16px 16px 0; 
  padding: 0 10px 0 6px;
}

#tray {
    border-radius: 0 16px 16px 0; 
    /*padding: 0 8px 0 3px;*/
    /*padding: 0 3px 0 8px;*/
    /*padding: 0 0px 0 10px;*/
    padding: 0 5px 0 10px;
}

#wireplumber.muted {
  color: @overlay0;
}

#battery.warning {
  color: @peach;
}

#battery.critical {
  color: @red;
}

/* -------------------------------------------------------------------------- */
