@import ".config/wofi/configs/main.css";

window {
    font-size: 40px;
}

#input {
    margin: -100px; /* To hide the search bar */
}

#inner-box {
    border: 4px solid #363a4f;
}

#entry {
    padding: 0 0 0 .5em; /* left padding */
}
